.form-control {
  display: inline-block;
  width: 250px;
  margin-top: 100px;
}

h4 {
  text-align: center;
  color: 	#FFFAF0
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  color: 	#FFFAF0;
  font-weight: 400;
  outline-width: 3px;
  outline-color: black;
  font-size: 60px;
}

.styled-select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;

  }

p {
  text-align: center;
}

.li {
  background-color: #FFFFFF;
  font-size: 20px;
}

#mapid { height: 400px; }

#pie.left {
  float: left;
  clear: both;
}
#pie.right {
  float: right;
  clear: both;
}